
body{
  font-family: Roboto, verdana, tahoma, sans-serif;
  font-size: 10pt;
  font-weight: 300;
  
  

}
.jumbotron{
  margin: 0;
  height: 100px;
}
#controls {
  
  top:100%;
  background: #ffffff;
  width: 390px;
  height: 320px;
  border-radius: 3px;
  border: #cecece 1px solid;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);

}
.containerGallery{
   max-width:1600px;
   padding:50px 20px;
   margin:0 auto;
}
#gallery{
  
  
  display: grid;
  
  grid-gap: 1em;
  padding: 2em;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
}

.galleryImg{
   max-width: 100%;
  
   border-radius:10px;
   position:relative;
   transition:transform 250ms;
   cursor:pointer;

}
.galleryImg:hover{
  transform:trans
}
 